name: critical-asset-admin-frontend-CI

on:
  push:
    branches:
      - release
    tags:
      - "v*"

  pull_request:
    branches:
      - release
    tags:
      - "v*"

  release:
    types: [created, published]

jobs:
  build:
    runs-on: ubuntu-latest
    environment: envdev

    strategy:
      matrix:
        node-version: [22.x]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

#      - name: Create .env file from secret
#        run: echo "${{ secrets.ENV_FILE }}" > .env

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm install

      - name: Build the dependencies
        #run: npm run build
        run: react-scripts build

      - name: upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: critical-asset-admin-frontend-$date
          path: buiid
          
