name: Node.js Package

on:
  push:
    branches:
      - release
      - master
      - dev
    tags:
      - "v*"

  pull_request:
    branches:
      - release
      - master
      - dev

  release:
    types: [created, published]
    
jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - run: npm install

      - run: CI=false npm run build --if-present

      - name: Upload build artifact
        uses: actions/upload-artifact@v5
        with:
          name: node-app-artifact
          path: build/       # <-- Change to your actual output folder





